 .ModalWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  display: grid;
  grid-template: 40px / 4fr 1fr 1fr;
  align-content: center;
  grid-column-gap: 15px;
}
.Body-Modal {
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  padding: 15px;
}