.TodoContainer {
  background-color: white;
  box-shadow: 0 0 8px 2px lightgrey;
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
}
.App-TodoContainer {
  width: 100%;
  max-width: 1170px;
  padding: 15px;
}