.ChooseCategoryContainer-Btn {
  width: 100%;
}

.ChooseCategoryContainer-Categories {
  z-index: 2;
  position: relative;
  border: 1px solid var(--main-green);
  border-radius: 7px;
}

.ChooseCategoryContainer-Li {
  background-color: white;
  padding: 5px;
}
.ChooseCategoryContainer-Li:first-child {
  border-radius: 7px 7px 0 0;
}
.ChooseCategoryContainer-Li:last-child {
  border-radius: 0 0 7px 7px;
}
.ChooseCategoryContainer-Li:not(.ChooseCategoryContainer-Li:last-child) {
  border-bottom: 1px solid var(--main-green);
}
.ChooseCategoryContainer-Li:hover {
  color: grey;
}