.ChooseCategoryContainer-Btn {
  width: 100%;
}

.ChooseCategoryContainer-Categories {
  z-index: 2;
  position: relative;
  border: 1px solid var(--main-green);
  border-radius: var(--main-border-radius);
}

.ChooseCategoryContainer-Li {
  background-color: white;
  padding: 5px;
  cursor: pointer;
}
.ChooseCategoryContainer-Li:first-child {
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}
.ChooseCategoryContainer-Li:last-child {
  border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
}
.ChooseCategoryContainer-Li:not(.ChooseCategoryContainer-Li:last-child) {
  border-bottom: 1px solid var(--main-green);
}
.ChooseCategoryContainer-Li:hover {
  color: grey;
}